<body>
  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div
      class="container d-flex justify-content-center justify-content-md-between"
    >
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-phone d-flex align-items-center"
          ><span>{{ .Site.Params.header_phone }}</span></i
        >
        <i class="bi bi-clock d-flex align-items-center ms-4"
          ><span>{{ .Site.Params.header_days_time }}</span></i
        >
      </div>

      <div class="languages d-none d-md-flex align-items-center">
        
		<ul>
			<li onclick="changeLanguage('en')"><a>en</a></li>
			<li onclick="changeLanguage('gr')"><a>gr</a></li>
			</ul>

			&nbsp;&nbsp;&nbsp;
			<label class="switch">
				<!-- <span class="enLang">en</span> -->
				<input type="checkbox" id="langCheckBox" onclick="changeLanguage()">
				<span class="slider round"></span>
			  </label>
       
		<!-- <ul>
          {{ range $.Site.Home.AllTranslations }}
          <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
          {{ end }}
        </ul> -->
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-cente">
    <div
      class="container-fluid container-xl d-flex align-items-center justify-content-lg-between"
    >
      <h1 class="logo me-auto me-lg-0 has_lang" lang="en">
        <a href="index.html">{{ .Params.header_logo_text}}</a>
      </h1>
     
      <h1 class="logo me-auto me-lg-0 has_lang" lang="gr">
        <a href="index.html">{{ .Params.header_logo_text_gr}}</a>
      </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
          <!-- <ul>
          <li><a class="nav-link scrollto active" href="#{{ site.BaseURL | relLangURL }}">{{ site.Params.Home }}</a></li>
          {{ range .Site.Menus.main }}
          <li><a class="nav-link scrollto" href="#{{ .URL | relLangURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>   -->
        <ul>
          <li><a class="nav-link scrollto active has_lang" lang="en" href="#">{{ .Params.header_home }}</a></li>
          <li><a class="nav-link scrollto active has_lang" lang="gr" href="#">{{ .Params.header_home_gr }}</a></li>
          <li><a class="nav-link scrollto active has_lang" lang="en" href="#about">{{ .Params.header_about }}</a></li>
          <li><a class="nav-link scrollto active has_lang" lang="gr" href="#about">{{ .Params.header_about_gr }}</a></li>
          <li><a class="nav-link scrollto active has_lang" lang="en" href="#menu">{{ .Params.header_menu }}</a></li>
          <li><a class="nav-link scrollto active has_lang" lang="gr" href="#menu">{{ .Params.header_menu_gr }}</a></li>
          <li><a class="nav-link scrollto active has_lang" lang="en" href="#specials">{{ .Params.header_specials }}</a></li>
          <li><a class="nav-link scrollto active has_lang" lang="gr" href="#specials">{{ .Params.header_specials_gr }}</a></li>
          <li><a class="nav-link scrollto active has_lang" lang="en" href="#events">{{ .Params.header_events }}</a></li>
          <li><a class="nav-link scrollto active has_lang" lang="gr" href="#events">{{ .Params.header_events_gr }}</a></li>
          <li><a class="nav-link scrollto active has_lang" lang="en" href="#chefs">{{ .Params.header_chefs }}</a></li>
          <li><a class="nav-link scrollto active has_lang" lang="gr" href="#chefs">{{ .Params.header_chefs_gr }}</a></li>
          <li><a class="nav-link scrollto active has_lang" lang="en" href="#gallery">{{ .Params.header_gallery }}</a></li>
          <li><a class="nav-link scrollto active has_lang" lang="gr" href="#gallery">{{ .Params.header_gallery_gr }}</a></li>
          <li><a class="nav-link scrollto active has_lang" lang="en" href="#contact">{{ .Params.header_contact }}</a></li>
          <li><a class="nav-link scrollto active has_lang" lang="gr" href="#contact">{{ .Params.header_contact_gr }}</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->
      <a href="#book-a-table" class="book-a-table-btn scrollto d-none d-lg-flex has_lang" lang="en">{{ .Params.header_button_text}}</a>
      <a href="#book-a-table" class="book-a-table-btn scrollto d-none d-lg-flex has_lang" lang="gr">{{ .Params.header_button_text_gr}}</a>
    </div>
  </header>

  <script>
    function changeLanguage(e) {
      if (e) {
        if (e == "en") {
          localStorage.setItem("language", "en");
          location.reload();
        } else {
          localStorage.setItem("language", "gr");
          location.reload();
        }
      } else {
        var value = document.getElementById("langCheckBox").checked;
        if (value) {
          localStorage.setItem("language", "gr");
          location.reload();
        } else {
          localStorage.setItem("language", "en");
          location.reload();
        }
      }
    }
  </script>

  <!-- End Header -->
</body>
