{{ define "main" }}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>{{ .Params.banner_title }}</span></h1>
                <h2>{{ .Params.banner_subtitle }}</h2>

                <div class="btns">
                    <a href="#menu" class="btn-menu animated fadeInUp scrollto">Our Menu</a>
                    <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Book a Table</a>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in"
                data-aos-delay="200">
                <a href="{{ .Params.banner_youtube_link }}" class="glightbox play-btn"></a>
            </div>

        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                    <div class="about-img">
                        <img src="{{ .Params.about_image_url }}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>{{ .Params.about_title }}</h3>
                    <p class="fst-italic">
                        {{ .Params.about_subtitle }}
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> {{ .Params.about_content_1 }}
                        </li>
                        <li><i class="bi bi-check-circle"></i> {{ .Params.about_content_2 }}</li>
                        <li><i class="bi bi-check-circle"></i> {{ .Params.about_content_3 }}</li>
                    </ul>
                    <p>
                        {{ .Params.about_content_4 }}
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Why Us</h2>
                <p>{{ .Params.whyus_title }}</p>
            </div>

            <div class="row">

                <div class="col-lg-4">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        <span>01</span>
                        <h4>{{ .Params.name_1 }}</h4>
                        <p>{{ .Params.content_1 }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="200">
                        <span>02</span>
                        <h4>{{ .Params.name_2 }}</h4>
                        <p>{{ .Params.content_2 }}</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="300">
                        <span>03</span>
                        <h4> {{ .Params.name_3 }}</h4>
                        <p>{{ .Params.content_3 }}
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Menu</h2>
                <p>{{ .Params.menu_title }}</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="menu-flters">
                        <li data-filter="*" class="filter-active">{{ .Params.menu_filter_1 }}</li>
                        <li data-filter=".filter-starters">{{ .Params.menu_filter_2 }}</li>
                        <li data-filter=".filter-salads">{{ .Params.menu_filter_3 }}</li>
                        <li data-filter=".filter-specialty">{{ .Params.menu_filter_4 }}</li>
                    </ul>
                </div>
            </div>

            <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-6 menu-item filter-starters">
                    <img src="{{ .Params.menu_item1_image }}" class="menu-img" alt="{{ .Params.item1_name }}">
                    <div class="menu-content">
                        <a href="/">{{ .Params.item1_name }}</a><span>{{ .Params.item1_price }}</span>
                    </div>
                    <div class="menu-ingredients">
                        {{ .Params.item1_ingredients }}
                    </div>
                </div>

                <div class="col-lg-6 menu-item filter-specialty">
                    <img src="{{ .Params.menu_item2_image }}" class="menu-img" alt="{{ .Params.item2_name }}">
                    <div class="menu-content">
                        <a href="/">{{ .Params.item2_name }}</a><span>{{ .Params.item2_price }}</span>
                    </div>
                    <div class="menu-ingredients">
                        {{ .Params.item2_ingredients }}
                    </div>
                </div>

                <div class="col-lg-6 menu-item filter-starters">
                    <img src="{{ .Params.menu_item3_image }}" class="menu-img" alt="{{ .Params.item3_name }}">
                    <div class="menu-content">
                        <a href="/">{{ .Params.item3_name }}</a><span>{{ .Params.item3_price }}</span>
                    </div>
                    <div class="menu-ingredients">
                        {{ .Params.item3_ingredients }}
                    </div>
                </div>

                <div class="col-lg-6 menu-item filter-salads">
                    <img src="{{ .Params.menu_item4_image }}" class="menu-img" alt="{{ .Params.item4_name }}">
                    <div class="menu-content">
                        <a href="/">{{ .Params.item4_name }}</a><span>{{ .Params.item4_price }}</span>
                    </div>
                    <div class="menu-ingredients">
                        {{ .Params.item4_ingredients }}
                    </div>
                </div>

                <div class="col-lg-6 menu-item filter-specialty">
                    <img src="{{ .Params.menu_item5_image }}" class="menu-img" alt="{{ .Params.item5_name }}">
                    <div class="menu-content">
                        <a href="/">{{ .Params.item5_name }}</a><span>{{ .Params.item5_price }}</span>
                    </div>
                    <div class="menu-ingredients">
                        {{ .Params.item5_ingredients }}
                    </div>
                </div>

                <div class="col-lg-6 menu-item filter-starters">
                    <img src="{{ .Params.menu_item6_image }}" class="menu-img" alt="{{ .Params.item6_name }}">
                    <div class="menu-content">
                        <a href="/">{{ .Params.item6_name }}</a><span>{{ .Params.item6_price }}</span>
                    </div>
                    <div class="menu-ingredients">
                        {{ .Params.item6_ingredients }}
                    </div>
                </div>

                <div class="col-lg-6 menu-item filter-salads">
                    <img src="{{ .Params.menu_item7_image }}" class="menu-img" alt="{{ .Params.item7_name }}">
                    <div class="menu-content">
                        <a href="/">{{ .Params.item7_name }}</a><span>{{ .Params.item7_price }}</span>
                    </div>
                    <div class="menu-ingredients">
                        {{ .Params.item7_ingredients }}
                    </div>
                </div>

                <div class="col-lg-6 menu-item filter-specialty">
                    <img src="{{ .Params.menu_item8_image }}" class="menu-img" alt="{{ .Params.item8_name }}">
                    <div class="menu-content">
                        <a href="/">{{ .Params.item8_name }}</a><span>{{ .Params.item8_price }}</span>
                    </div>
                    <div class="menu-ingredients">
                        {{ .Params.item8_ingredients }}
                    </div>
                </div>

                <div class="col-lg-6 menu-item filter-salads">
                    <img src="{{ .Params.menu_item9_image }}" class="menu-img" alt="{{ .Params.item9_name }}">
                    <div class="menu-content">
                        <a href="/">{{ .Params.item9_name }}</a><span>{{ .Params.item9_price }}</span>
                    </div>
                    <div class="menu-ingredients">
                        {{ .Params.item9_ingredients }}
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Menu Section -->

    <!-- ======= Specials Section ======= -->
    <section id="specials" class="specials">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Specials</h2>
                <p>{{ .Params.specials_heading }}</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">{{ .Params.special_item1_name }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">{{ .Params.special_item2_name }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">{{ .Params.special_item3_name }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">{{ .Params.special_item4_name }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-5">{{ .Params.special_item5_name }}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9 mt-4 mt-lg-0">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>{{ .Params.special_item1_title }}</h3>
                                    <p class="fst-italic">{{ .Params.special_item1_content1 }}</p>
                                    <p>{{ .Params.special_item1_content2 }}</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{{ .Params.special_item1_image }}" alt="{{ .Params.special_item1_name }}" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>{{ .Params.special_item2_title }}</h3>
                                    <p class="fst-italic">{{ .Params.special_item2_content1 }}</p>
                                    <p>{{ .Params.special_item2_content2 }}</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{{ .Params.special_item2_image }}" alt="{{ .Params.special_item2_name }}" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>{{ .Params.special_item3_title }}</h3>
                                    <p class="fst-italic">{{ .Params.special_item3_content1 }}</p>
                                    <p>{{ .Params.special_item3_content2 }}</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{{ .Params.special_item3_image }}" alt="{{ .Params.special_item3_name }}" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-4">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>{{ .Params.special_item4_title }}</h3>
                                    <p class="fst-italic">{{ .Params.special_item4_content1 }}</p>
                                    <p>{{ .Params.special_item4_content2 }}</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{{ .Params.special_item4_image }}" alt="{{ .Params.special_item4_name }}" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-5">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>{{ .Params.special_item5_title }}</h3>
                                    <p class="fst-italic">{{ .Params.special_item5_content1 }}
                                    </p>
                                    <p>{{ .Params.special_item5_content2 }}</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{{ .Params.special_item5_image }}" alt="{{ .Params.special_item5_name }}" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Specials Section -->

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Events</h2>
                <p>{{ .Params.events_title }}</p>
            </div>

            <div class="events-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="row event-item">
                            <div class="col-lg-6">
                                <img src="{{ .Params.event1_image }}" class="img-fluid" alt="{{ .Params.event1_name }}">
                            </div>
                            <div class="col-lg-6 pt-4 pt-lg-0 content">
                                <h3>{{ .Params.event1_name }}</h3>
                                <div class="price">
                                    <p><span>{{ .Params.event1_price }}</span></p>
                                </div>
                                <p class="fst-italic">
                                    {{ .Params.event1_content1 }}
                                </p>
                                <ul>
                                    <li><i class="bi bi-check-circled"></i> {{ .Params.event1_content2 }}</li>
                                    <li><i class="bi bi-check-circled"></i> {{ .Params.event1_content3 }}</li>
                                    <li><i class="bi bi-check-circled"></i> {{ .Params.event1_content4 }}</li>
                                </ul>
                                <p>
                                    {{ .Params.event1_content5 }}
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="row event-item">
                            <div class="col-lg-6">
                                <img src="{{ .Params.event2_image }}" class="img-fluid" alt="{{ .Params.event2_name }}">
                            </div>
                            <div class="col-lg-6 pt-4 pt-lg-0 content">
                                <h3>{{ .Params.event2_name }}</h3>
                                <div class="price">
                                    <p><span>{{ .Params.event2_price }}</span></p>
                                </div>
                                <p class="fst-italic">
                                    {{ .Params.event2_content1 }}
                                </p>
                                <ul>
                                    <li><i class="bi bi-check-circled"></i> {{ .Params.event2_content2 }}</li>
                                    <li><i class="bi bi-check-circled"></i> {{ .Params.event2_content3 }}</li>
                                    <li><i class="bi bi-check-circled"></i> {{ .Params.event2_content4 }}</li>
                                </ul>
                                <p>
                                    {{ .Params.event2_content5 }}
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="row event-item">
                            <div class="col-lg-6">
                                <img src="{{ .Params.event3_image }}" class="img-fluid" alt="{{ .Params.event3_name }}">
                            </div>
                            <div class="col-lg-6 pt-4 pt-lg-0 content">
                                <h3>{{ .Params.event3_name }}</h3>
                                <div class="price">
                                    <p><span>{{ .Params.event3_price }}</span></p>
                                </div>
                                <p class="fst-italic">
                                    {{ .Params.event3_content1 }}
                                </p>
                                <ul>
                                    <li><i class="bi bi-check-circled"></i> {{ .Params.event3_content2 }}</li>
                                    <li><i class="bi bi-check-circled"></i> {{ .Params.event3_content3 }}</li>
                                    <li><i class="bi bi-check-circled"></i> {{ .Params.event3_content4 }}</li>
                                </ul>
                                <p>
                                    {{ .Params.event3_content5 }}
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Events Section -->

    <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Reservation</h2>
                <p>Book a Table</p>
            </div>

            <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up"
                data-aos-delay="100">
                <div class="row">
                    <div class="col-lg-4 col-md-6 form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                            data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                        <div class="validate"></div>
                    </div>
                    <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                            data-rule="email" data-msg="Please enter a valid email">
                        <div class="validate"></div>
                    </div>
                    <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone"
                            data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                        <div class="validate"></div>
                    </div>
                    <div class="col-lg-4 col-md-6 form-group mt-3">
                        <input type="text" name="date" class="form-control" id="date" placeholder="Date"
                            data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                        <div class="validate"></div>
                    </div>
                    <div class="col-lg-4 col-md-6 form-group mt-3">
                        <input type="text" class="form-control" name="time" id="time" placeholder="Time"
                            data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                        <div class="validate"></div>
                    </div>
                    <div class="col-lg-4 col-md-6 form-group mt-3">
                        <input type="number" class="form-control" name="people" id="people" placeholder="# of people"
                            data-rule="minlen:1" data-msg="Please enter at least 1 chars">
                        <div class="validate"></div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
                    <div class="validate"></div>
                </div>
                <div class="mb-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your booking request was sent. We will call back or send an Email to
                        confirm your reservation. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Book a Table</button></div>
            </form>

        </div>
    </section><!-- End Book A Table Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Testimonials</h2>
                <p>{{ .Params.testimonial_title }}</p>
            </div>

            <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                {{ .Params.testimonial1_content }}
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="{{ .Params.testimonial1_image }}" class="testimonial-img" alt="{{ .Params.testimonial1_name }}">
                            <h3>{{ .Params.testimonial1_name }}</h3>
                            <h4>{{ .Params.testimonial1_designation }}</h4>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                {{ .Params.testimonial2_content }}
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="{{ .Params.testimonial2_image }}" class="testimonial-img" alt="{{ .Params.testimonial2_name }}">
                            <h3>{{ .Params.testimonial2_name }}</h3>
                            <h4>{{ .Params.testimonial2_designation }}</h4>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                {{ .Params.testimonial3_content }}
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="{{ .Params.testimonial3_image }}" class="testimonial-img" alt="{{ .Params.testimonial3_name }}">
                            <h3>{{ .Params.testimonial3_name }}</h3>
                            <h4>{{ .Params.testimonial3_designation }}</h4>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                {{ .Params.testimonial4_content }}
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="{{ .Params.testimonial4_image }}" class="testimonial-img" alt="{{ .Params.testimonial4_name }}">
                            <h3>{{ .Params.testimonial4_name }}</h3>
                            <h4>{{ .Params.testimonial4_designation }}</h4>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                {{ .Params.testimonial5_content }}
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="{{ .Params.testimonial5_image }}" class="testimonial-img" alt="{{ .Params.testimonial5_name }}">
                            <h3>{{ .Params.testimonial5_name }}</h3>
                            <h4>{{ .Params.testimonial5_designation }}</h4>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">

        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Gallery</h2>
                <p>{{ .Params.gallery_title }}</p>
            </div>
        </div>

        <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

            <div class="row g-0">

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{{ .Params.gallery_image_url_1 }}" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="{{ .Params.gallery_image_url_1 }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{{ .Params.gallery_image_url_2 }}" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="{{ .Params.gallery_image_url_2 }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{{ .Params.gallery_image_url_3 }}" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="{{ .Params.gallery_image_url_3 }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{{ .Params.gallery_image_url_4 }}" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="{{ .Params.gallery_image_url_4 }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{{ .Params.gallery_image_url_5 }}" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="{{ .Params.gallery_image_url_5 }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{{ .Params.gallery_image_url_6 }}" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="{{ .Params.gallery_image_url_6 }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{{ .Params.gallery_image_url_7 }}" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="{{ .Params.gallery_image_url_7 }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{{ .Params.gallery_image_url_8 }}" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="{{ .Params.gallery_image_url_8 }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Chefs</h2>
                <p>{{ .Params.chefs_title }}</p>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="zoom-in" data-aos-delay="100">
                        <img src="{{ .Params.chef_1_image_url }}" class="img-fluid" alt="{{ .Params.chef_1_name }}">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>{{ .Params.chef_1_name }}</h4>
                                <span>{{ .Params.chef_1_profile }}</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="zoom-in" data-aos-delay="200">
                        <img src="{{ .Params.chef_2_image_url }}" class="img-fluid" alt="{{ .Params.chef_2_name }}">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>{{ .Params.chef_2_name }}</h4>
                                <span>{{ .Params.chef_2_profile }}</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="zoom-in" data-aos-delay="300">
                        <img src="{{ .Params.chef_3_image_url }}" class="img-fluid" alt="{{ .Params.chef_3_name }}">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>{{ .Params.chef_3_name }}</h4>
                                <span>{{ .Params.chef_3_profile }}</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Chefs Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact</h2>
                <p>Contact Us</p>
            </div>
        </div>

        <div data-aos="fade-up">
            <iframe style="border:0; width: 100%; height: 350px;"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="container" data-aos="fade-up">

            <div class="row mt-5">

                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>A108 Adam Street, New York, NY 535022</p>
                        </div>

                        <div class="open-hours">
                            <i class="bi bi-clock"></i>
                            <h4>Open Hours:</h4>
                            <p>
                                Monday-Saturday:<br>
                                11:00 AM - 2300 PM
                            </p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>info@example.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+1 5589 55488 55s</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">

                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                    required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="8" placeholder="Message"
                                required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

{{ end }}